<h1>Orders</h1>

<div class="well text-right">
  <%= link_to 'Add New Order', new_order_path, class: "btn btn-default" %>
</div>


<ul class="list-group">
  <% @orders.each do |order| %>

    <li class="list-group-item">
      <span class="badge"><%= order.quantity %></span>
      <%= link_to order.waffle_type, order_path(id: order.id) %>
    </li>
  <% end %>
</ul>
